<!DOCTYPE html>
<html>
    <%- include("../partials/head.ejs") %>
  <body class="signup-body">
    <%- include("../partials/header.ejs") %>
    <main>
        <div class="signup-div">
            <form action="/user/signup" method="POST">
                <fieldset>
                    <legend>New User</legend>
                    <label>
                        USERNAME: <input type="text" name="username" required />
                    </label>
                    <label>
                        PASSWORD: <input type="password" name="password" required />
                    </label>
                    <input class="signup-btn" type="submit" value="Create Account" />
                </fieldset>
            </form>
        </div>
    </main>
  </body>
</html>