<!DOCTYPE html>
<html>
    <body>
        <main>
            <div>
            <a href="/habits/new"><button>Add New Habit</button></a>
            <a href="/habits/pomodoro"><button>Pomodoro Timer</button></a>
            <h2><button>Check-in</button>
            </h2>
        </div>
        </main>
    
    </body>

</html>