<!DOCTYPE html>
<html>
    <%- include("../partials/head.ejs") %> 

    <body>
        <%- include("../partials/header.ejs") %> 
        <div>
            <form action="/habits" method="POST">
                <fieldset>
                    <legend>Add a New Item</legend>
                    <label>
                        ITEM NAME: <input type="text" name="name" placeholder="Enter here" />
                    </label>
                    <label>
                        TYPE: <input type="type" name="type" placeholder="Start a new habit, or correct a bad habit" />
                    </label>
                    <label>
                        START DATE: <input type="date" name="startDate" />
                    </label>
                    <label>
                        TARGET DATE: <input type="date" name="targetDate" />
                    </label>
                    <label>
                        COMPLETE? <input type="checkbox", name="complete"/>
                    </label>
                    <label>
                        NOTES: <input type="text" name="notes" placeholder="Enter notes here"/>
                    </label>
                    <label>
                        USERNAME: <input type="text" name="username" />
                    </label>
                </fieldset>
                <input type="submit" value="Add" />
            </form>
        </div>
    </body>
</html>