<!DOCTYPE html>
<html lang="en">
    <body>
        <main>
            <h1>Pomodoro Timer</h1>
            <div class="timer">
                <span><%=timeLeft %></span>
                <button type="button" class="timer__btn timer__btn--control timer__btn--start">Start</button> 
                    
                <button type="button" class="timer__btn timer__btn--reset">Reset
                </button>
            </div>
        </main>
    </body>
</html>